# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
# Empty Dictionary
Dict={}
type(Dict)

dict

In [2]:
Dict1=dict()
type(Dict1)

dict

In [3]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frantfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [5]:
data['Ohio']

'Columbus'

In [6]:
data['Georgia']

'Atlanta'

In [8]:
#data['New york'] Will generate a keyError if the key si not present in the dictionary

### Update elements of a dictionary and add new elements

In [1]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday','Friday'),
    5: ['Saturday','Sunday']}

In [2]:
#thursday
day[4][0]   #day[key][index]

'Thursday'

In [14]:
#Sunday
day[5][1]

'Sunday'

In [12]:
day[3]='Wednesday'

In [16]:
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Saturday', 'Sunday'], 3: 'Wednesday'}

In [3]:
#Update saturday to holiday
day[5][0]='Holiday'
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Sunday']}

In [4]:
#Update sunday to holiday
day[5][1]='Holiday'
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Holiday']}

In [6]:
#Update Thursday to holiday
#day[4][0]='holiday' Cannot update a tuple

### `get` and `update` methods
- get use to access a value from dictionary
- update the dictionary with new value also update the old value

In [13]:
# Return wednesday
day.get(3)

'Wednesday'

In [11]:
day.get(1)

'Monday'

In [14]:
day.get(6)  #Not generating an error if the key is not present in the dictionary

In [16]:
#day(6) Typeerror

In [17]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [18]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frantfort',
     'Ohio':'Columbus'}

In [20]:
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [21]:
#New entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [23]:
data.update({'Missouri':'Jefferson City',
             'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [24]:
# Delete Alabama using del method
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [25]:
#Delete Ohio using pop
data.pop('Ohio')

'Columbus'

In [26]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [27]:
# Delete the entire dictionary
del data

In [29]:
#data #Name error because dictionary not present

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [30]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frantfort',
     'Ohio':'Columbus'}

In [31]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [32]:
data.values()

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frantfort', 'Columbus'])

In [33]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frantfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary for loop

In [35]:
# unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [36]:
#Unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Pheonix
Atlanta
Frantfort
Columbus

In [38]:
# Dictionary Items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frantfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [40]:
#unpack dictionary items
for j,k in data.items():
    print("State:", j)
    print("Capitol:", k)

State: Alabama
Capitol: Montgomery
State: Arizona
Capitol: Pheonix
State: Georgia
Capitol: Atlanta
State: Kentucky
Capitol: Frantfort
State: Ohio
Capitol: Columbus

### Convert dictionary to lists using `list()` function

In [41]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frantfort',
 'Ohio': 'Columbus'}

In [44]:
# Dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [45]:
# Convert Dictionary values to a list
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frantfort', 'Columbus']

### A List in a Dictionary: How to unpack all of the entries?

In [48]:
fav_language={'jen':['python','ruby'],
             'sarah':['c'],
             'edward':['ruby','java'],
             'phil':['python','java']}

In [49]:
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [55]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favorite languages are:")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favorite languages are:
						 python
						 ruby
The name is : Sarah. The favorite languages are:
						 c
The name is : Edward. The favorite languages are:
						 ruby
						 java
The name is : Phil. The favorite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [56]:
user={'est':{'first':'albert','last':'einstein','location':'princeton'},'mcurie':{'first':'marie','last':'curie','location':'paris'}}

In [57]:
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [58]:
#albert
user['est']['first']

'albert'

In [59]:
#paris
user['mcurie']['location']

'paris'

In [65]:
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    full_name=user_info['first']+" "+user_info['last']
    print("Full name:",full_name)
    print("location: ", user_info['location'])

Username: est
Full name: albert einstein
location:  princeton
Username: mcurie
Full name: marie curie
location:  paris